@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Mission Gothic Regular', sans-serif;
  }
}

@font-face {
  font-family: 'Mission Gothic Regular';
  src: url('../public/fonts/MissionGothicRegular.otf') format('opentype');
}

@font-face {
  font-family: 'Mission Gothic Light';
  src: url('../public/fonts/MissionGothicLight.otf') format('opentype');
}
